<%- include('partials/header');-%>
<h1>Accept or Reject Pending Bets</h1>
<input type="hidden" id="currentUser" value=<%=currentUser%>>
<div id="container">
  <% snapshot.forEach((doc) => { %>
    <% let invitedUsers = doc.data().invitedUsers;%>
  <%  if (invitedUsers.hasOwnProperty(currentUser) == true) {%>
      <form class="betForm" action="/pendingbets" method="post">
      <table class="bet-card" style="width: 60%">
      <tr>
        <td style="border-radius: 15px 0 0 0"> <%=doc.data().title%></td>
        <td><%=doc.data().type%></td>
        <td style="border-radius: 0 15px 0 0"> <%=doc.data().stake.beers%> 🍺 <%=doc.data().stake.shots%>🥃</td>
      </tr>
      <tr>
        <td class="participant"><input type="radio" name="side" id="sideOne<%=doc.data().betID%>" class="friend-select" style="float:left; margin: 4px"><%= doc.data().team1%></td>
        <td></td>
        <td><input type="radio" name="side" id="sideTwo<%=doc.data().betID%>" class="friend-select" style="float:left; margin: 4px"><%= doc.data().team2%></td>
      </tr>
      <tr>
        <td class="participant" style="border-radius: 0 0 0 15px"><button style="background-color: #ff9933; color: #151E3F" type="button" name="button" class="btn btn-primary" id="btn1<%=doc.data().betID%>">Accept</button></td>
        <td></td>
        <td style="border-radius: 0 0 15px 0"><button type="button" name="button" class="btn btn-primary" id="btn2<%=doc.data().betID%>">Reject</button></td>
      </tr>
      <input type="hidden" name="firstName" value=<%=doc.data().invitedUsers[currentUser]%>>
      <input type="hidden" name="betID" value=<%=doc.data().betID%>>
    </table>
    </form>
  <%  };%>
  <% }); %>

</div>
<script src="/scripts/firebasehelper.js"></script>
<script src="/scripts/pendingbets.js"></script>
<%- include('partials/footer') -%>
